/* Typography */
html {
  font-size: 62.5%;
  /* pour que 1rem soit egale a 10px */
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Poppins", "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--dark-blue);
  height: 100vh;
  font-size: 2rem;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
textarea {
  resize: none;
}
:root {
  --dark-blue: #0d1b2a;
  --oxford-blue: #1b263b;
  --bdazzled-blue: #415a77;
  --blue: #0050ff;
  --platinum: #7b858b;
  --white: #ffffff;
  --color-red: #ff3400;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.4rem;
  }
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
li {
  list-style: none;
}
/* Links */
a {
  text-decoration: none;
}

.link {
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}
.link--dark {
  color: var(--dark-blue);
}
.link--white {
  color: var(--white);
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.5rem;
  }
}
/*icons */

.icon {
  width: 30px;
  height: 30px;
}

.icon__arrow {
  width: 60px;
  height: 60px;
}

.icon--dark {
  fill: var(--dark-blue);
}
.icon--white {
  fill: var(--white);
}
/*Buttons*/

.button {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 3vw;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.15s;
  white-space: nowrap;
  display: inline-block;
}

.button--primary {
  background-color: var(--bdazzled-blue);
  color: var(--white);
}
.button--primary:hover {
  background-color: #4192fd;
}

.button--red {
  background-color: var(--color-red);
  color: #ffff;
}
.button--red:hover {
  background-color: #ff4f23;
}

.button--outline {
  padding: 1.7rem 3vw;
  border: 3px solid var(--dark-blue);
  color: var(--dark-blue);
  background-color: var(--white);
}

.button--outline:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

.button--block {
  width: 100%;
  display: block;
}
@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}

/* inputs */

.input {
  border: 0;
  width: 100%;
  color: var(--dark-blue);
  font-size: 2rem;
  outline: 0;
  background-color: var(--white);
  padding: 1.5rem 2.5rem;
  transition: background-color 0.3s;
}
.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(169, 169, 169, 0.5);
  transition: border 0.3s;
  margin-bottom: 4rem;
}
.icon {
  transition: fill 0.3s;
}
.input-group:focus-within {
  border-bottom: 1px solid var(--blue);
}
.input-group:focus-within .icon {
  fill: #0050ff;
}
::placeholder {
  color: var(--platinum);
}

.input-group .icon {
  height: 20px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* testimonial */
.article-container {
  max-width: 500px;
  margin: 0 auto;
}
.text-block {
  font-size: 2.5rem;
  font-family: "Open Sans";
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .text-block {
    font-size: 2rem;
    text-align: left;
  }
}
/*cards*/

.card {
  width: 300px;
  height: 450px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: "Open Sans";
  margin: 0 auto;
}
.card-top {
  background-color: #f4ece6;
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-name {
  text-align: center;
}
.card-description {
  text-align: center;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.card__photo {
  border-radius: 100%;
  border: 0;
  height: 150px;
  margin: 0 1.5rem;
  transition: transform 0.3s;
  width: 150px;
}
.card-bottom {
  background-color: var(--white);
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-icons {
  display: flex;
  justify-content: space-around;
  width: 200px;
}
.card-header {
  display: flex;
  flex-direction: column;
}
.card-resume {
  margin-bottom: 5rem;
  font-family: "Poppins";
  background-color: var(--white);
  /* width: 500px; */
  width: 100%;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
  padding: 2rem;
  display: grid;
}
.card__heading {
  font-weight: 700;
  color: var(--blue);
}
.card__subHeading {
  font-weight: 600;
  font-size: 1.6rem;
  align-self: start;
  margin: 0;
}

.card__company,
.card__location {
  font-weight: 300;
  font-size: 1.4rem;
  margin: 0.6rem 0;
}
.card-resume__description {
  margin-bottom: 3rem;
}
.grid {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 3rem;
}

@media screen and (min-width: 1024px) {
  .card {
    height: 550px;
    width: 400px;
  }
  .card__photo {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    column-gap: 5rem;
  }
  .card-resume__description {
    margin-top: 5rem;
  }
  .card-resume {
    width: 100%;
    height: 250px;
  }
}
/*form*/
.form {
  padding: 5rem 3rem;
}
.submit-form {
  display: grid;
  align-self: center;
  justify-self: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
  overflow: hidden;
  text-align: center;
  max-width: 1000px;

  border-radius: 10px;
}
.form__image {
  background: url(../images/Polygon.svg);
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-image__heading {
  margin: 0;
  color: var(--white);
}
.form__heading {
  color: var(--blue);
  margin-bottom: 3rem;
  text-align: center;
}
.form__message {
  padding: 0;
  display: flex;
  align-items: flex-start;
}
.input-group textarea {
  padding-top: 0;
  font-family: "Poppins";
}

.grid-2 {
  grid-template-rows: 1fr;

  row-gap: 3rem;
}

@media screen and (min-width: 768px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 3rem;
  }
  .container-2 {
    width: 1000px;
    margin: 0 auto;
  }

  .form {
    padding: 10rem 4rem;
  }

  .form__heading {
    text-align: left;
  }
  .form__image {
    height: 100%;
  }
}

/*hero*/

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/code.jpg);
  background-size: cover;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white);
  font-weight: 300;
  justify-content: center;
  max-width: 450px;
}
.intro-nav {
  display: none;
}
.intro__name {
  font-family: "Allura";
  font-size: 4rem;
  margin-bottom: 4rem;
  color: var(--white);
  font-weight: 300;
}
.learn {
  margin-top: 20rem;
  margin-bottom: 2rem;
}
.intro .icon {
  width: 50px;
  height: 50px;
  fill: var(--white);
  transition: transform 0.3s;
}
.intro .icon:hover {
  transform: translateY(10px);
}

.side-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: auto;
  padding: 1rem;
  background-color: #cdcbd7;
  position: absolute;
  top: 5rem;
}
.side-menu .icon {
  transition: all 0.3s;
}
.side-menu .icon:hover {
  transform: scale(1.3);
}
.page-intro {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(../images/code.jpg);
}

@media screen and (min-width: 768px) {
  .intro {
    font-size: 2rem;
  }
  .intro__name {
    font-size: 7rem;
  }
  .learn {
    margin-top: 25rem;
  }
  .side-menu {
    top: 20rem;
  }
  .intro-nav {
    position: absolute;
    right: 5rem;
    margin-top: 2rem;
    justify-self: center;
    display: inline;
  }
  .intro-nav a {
    color: #cdcbd7;
    transition: color 0.15s;
  }

  .nav__list2 .list__item a:hover {
    color: #fff;
  }
  .nav__list2 {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 0;
  }
}

/* Navigation Bar */
.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
}
.nav__button {
  opacity: 0.5;
  transition: opacity 0.15s, box-shadow 0.15s;
}

.nav__button:hover {
  opacity: 1;
}

.nav a {
  color: #cdcbd7;
  transition: color 0.15s;
}

.nav__list {
  width: 100%;
  margin: 0 0.5rem;
  padding: 0;
}

.nav__list .list__item {
  border-bottom: 1px solid #222;
  padding: 0.5rem 2rem;
  text-align: center;
}
.nav__list .list__item a:hover {
  color: #fff;
}
.collapsible--checked .nav__button {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 3px;
}
.nav__logo {
  width: 120px;
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__button {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    flex-direction: row;
    max-height: 100%;
    opacity: 1;
  }
  .list__item {
    border: none;
  }
  .nav__list .list__item {
    border-bottom: none;
  }
}
/*self introduction section*/

.text-block .block__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.article-container {
  padding: 2rem;
}
.block__self-introduction {
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .text-block .block__buttons {
    flex-direction: row;
  }
  .block__self-introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background: url(../images/wave.svg);
    background-repeat: no-repeat;
    margin-bottom: 10rem;
  }
  .card {
    margin-right: 0;
  }
}
/* projects section */

.projects-block {
  height: 100vh;
}
.project {
  margin-bottom: 3rem;
  border-bottom: 1px solid darkgray;
  padding: 1rem;
  width: 100%;
}
.project .block__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.grid-1x2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}
.project__image {
  justify-self: center;
}
.project__image img {
  width: 100%;
}

.website-performances {
  width: 100%;
  margin: 2rem 0;
}
.projects-block .button {
  margin: 1rem 1rem;
}
.projects__header {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .grid-1x2 {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .project__image {
    align-self: center;
  }
  .projects-block .button {
    margin: 1rem 2rem;
  }
  .project:nth-of-type(even) .project__image {
    order: 2;
  }
}
/*resume section*/
.resume {
  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 10rem;
}
.resume__header h3 {
  font-size: 2rem;
  margin: 0;
}
.resume__heading {
  color: #0050ff;
}

.resume__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-2 {
  max-width: 560px;
}

@media screen and (min-width: 1024px) {
  .resume__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .resume {
    padding: 0;
  }
}

/* Collapsibles */
.collapsible {
  margin-bottom: 1rem;
}
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.collapsible__icon {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible__heading {
  font-size: 2.4rem;
  margin: 0;
  font-weight: 600;
}

.collapsible--checked .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
.collapsible--checked .collapsible__icon {
  transform: rotate(0);
}

/*footer*/
.footer__sections {
  margin-top: 5rem;
  display: grid;
}
.website-footer {
  padding: 1rem;
  background-color: var(--dark-blue);
}

.website-footer .collapsible__heading,
.website-footer .collapsible__icon {
  text-transform: uppercase;
  color: var(--white);
  fill: var(--white);
}

.website-footer .collapsible__content,
.website-footer .footer__link {
  color: #7b858b;
  transition: color 0.15s;
}
.footer__brand {
  margin-top: 5rem;
  text-align: center;
}
.footer__brand img {
  max-width: 250px;
  width: 100%;
}
.footer__brand p {
  color: #7b858b;
}
.footer__item {
  border-bottom: 1px solid rgba(102, 102, 102, 0.4);
  padding: 3rem;
}
.footer__links {
  padding-left: 0;
  list-style: none;
}

.footer__link:hover {
  color: var(--white);
}
.footer__content {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .website-footer .collapsible__icon {
    display: none;
  }
  .website-footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
  .footer__item {
    order: 1;
    border-bottom: none;
  }
  .collapsible__heading {
    font-size: 1.6rem;
  }
}
