<div class="card">
    <div class="card-top">
      <img class="card__photo" src="images/me.jpg" alt="me" /></img>
      <h2 class="card-name">Anas <br> Chahid</h2>
      <a href="#">
        <svg class="icon">
          <use href="icons/sprite.svg#line"></use></svg
      ></a>
      <p class="card-description">Computer Science Student</p>
    </div>
    <div class="card-bottom">
      <div class="card-icons ">
        <a href="#">
          <svg class="icon icon--dark">
            <use href="icons/sprite.svg#linkedin"></use></svg
        ></a>
        <a href="#">
          <svg class="icon icon--dark">
            <use href="icons/sprite.svg#instagram"></use></svg
        ></a>
        <a href="#">
          <svg class="icon icon--dark">
            <use href="icons/sprite.svg#facebook"></use></svg
        ></a>
      </div>
    </div>
  </div>


<!-- resume card -->

<article class="card-resume grid">
  <header class="card-header">
    <h3 class="card__heading">2019-</h3>
    <h4 class="card__subHeading">JOB POSITION</h4>
    <div class="card__company">SQLI</div>
    <div class="card__location">Oujda, Morocco</div>
  </header>
  <p class="card-resume__description">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos recusandae
    delectus fuga inventore, molestias quisquam mollitia dolores
    nostrumlorem5 Lorem ipsum dolor sit amet.
  </p>
</article>
