<div class="card">
    <div class="card-top">
      <img class="card__photo" src="images/me.jpg" alt="me" /></img>
      <h2 class="card-name">Anas <br> Chahid</h2>
      <a href="#">
        <svg class="icon">
          <use href="icons/sprite.svg#line"></use></svg
      ></a>
      <p class="card-description">Computer Science Student</p>
    </div>
    <div class="card-bottom">
      <div class="card-icons ">
        <a href="#">
          <svg class="icon icon--dark">
            <use href="icons/sprite.svg#linkedin"></use></svg
        ></a>
        <a href="#">
          <svg class="icon icon--dark">
            <use href="icons/sprite.svg#instagram"></use></svg
        ></a>
        <a href="#">
          <svg class="icon icon--dark">
            <use href="icons/sprite.svg#facebook"></use></svg
        ></a>
      </div>
    </div>
  </div>