<div class="submit-form grid-2 container-2">
  <div class="form__image"></div>
  <div class="form">
    <form action="POST">
      <h2 class="form__heading">Contact Me</h2>
      <div id="inputGroup" class="input-group">
        <svg class="icon icon--dark">
          <use href="icons/sprite.svg#email"></use>
        </svg>
        <input class="input" type="text" placeholder="Your Email" />
      </div>
      <div id="inputGroup" class="input-group">
        <svg class="icon icon--dark">
          <use href="icons/sprite.svg#user"></use>
        </svg>
        <input class="input" type="text" placeholder="Your Name" />
      </div>
      <div id="inputGroup" class="input-group form__message">
        <svg class="icon icon--dark">
          <use href="icons/sprite.svg#comment"></use>
        </svg>
        <textarea
          class="input"
          name="message"
          cols="30"
          rows="5"
          placeholder="Your Message"
        ></textarea>
      </div>
      <a class="button button--primary button--block" href="#">Submit</a>
    </form>
  </div>
</div>
