<section class="projects-block">
  <header class="projects__header"><h2>My Projects</h2></header>
  <div class="project grid-1x2">
    <div class="project__image">
      <img src="images/laptop.png" alt="laptop" />
    </div>
    <article class="text-block article-container">
      <h2 class="block__heading">Margo Hosting Website</h2>
      <p class="block__content">
        This is a Website Created by me using HTML, CSS, JavaScript from
        scratch.<br />
      </p>
      <img
        class="website-performances"
        src="images/margo-measure.png"
        alt="measures"
      />
      <div class="block__buttons">
        <a class="button button--red button--block" href="#">view</a>
        <a class="button button--outline button--block" href="#">Github</a>
      </div>
    </article>
  </div>
  <div class="project grid-1x2">
    <div class="project__image">
      <img src="images/laptop.png" alt="laptop" />
    </div>
    <article class="text-block article-container">
      <h2 class="block__heading">Margo Hosting Website</h2>
      <p class="block__content">
        This is a Website Created by me using HTML, CSS, JavaScript from
        scratch.<br />
      </p>
      <img
        class="website-performances"
        src="images/margo-measure.png"
        alt="measures"
      />
      <div class="block__buttons">
        <a class="button button--red button--block" href="#">view</a>
        <a class="button button--outline button--block" href="#">Github</a>
      </div>
    </article>
  </div>
  <div class="project grid-1x2">
    <div class="project__image">
      <img src="images/laptop.png" alt="laptop" />
    </div>
    <article class="text-block article-container">
      <h2 class="block__heading">Margo Hosting Website</h2>
      <p class="block__content">
        This is a Website Created by me using HTML, CSS, JavaScript from
        scratch.<br />
      </p>
      <img
        class="website-performances"
        src="images/margo-measure.png"
        alt="measures"
      />
      <div class="block__buttons">
        <a class="button button--red button--block" href="#">view</a>
        <a class="button button--outline button--block" href="#">Github</a>
      </div>
    </article>
  </div>
</section>
