<section class="resume container-2">
  <header class="resume__header">
    <h3 class="resume__heading">My Resume</h3>
    <a class="button button--primary" href="#">Download CV</a>
  </header>
  <main>
    <article class="card-resume grid">
      <header class="card-header">
        <h3 class="card__heading">2019-</h3>
        <h4 class="card__subHeading">JOB POSITION</h4>
        <div class="card__company">SQLI</div>
        <div class="card__location">Oujda, Morocco</div>
      </header>
      <p class="card-resume__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos recusandae
        delectus fuga inventore, molestias quisquam mollitia dolores
        nostrumlorem5 Lorem ipsum dolor sit amet.
      </p>
    </article>
    <article class="card-resume grid">
      <header class="card-header">
        <h3 class="card__heading">2019-</h3>
        <h4 class="card__subHeading">JOB POSITION</h4>
        <div class="card__company">SQLI</div>
        <div class="card__location">Oujda, Morocco</div>
      </header>
      <p class="card-resume__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos recusandae
        delectus fuga inventore, molestias quisquam mollitia dolores
        nostrumlorem5 Lorem ipsum dolor sit amet.
      </p>
    </article>
  </main>
</section>
