<section class="block__self-introduction">
    <div class="card">
      <div class="card-top">
        <img class="card__photo" src="images/me.jpg" alt="me" /></img>
        <h2 class="card-name">Anas <br> Chahid</h2>
        <a href="#">
          <svg class="icon">
            <use href="icons/sprite.svg#line"></use></svg
        ></a>
        <p class="card-description">Computer Science Student</p>
      </div>
      <div class="card-bottom">
        <div class="card-icons ">
          <a href="#">
            <svg class="icon icon--dark">
              <use href="icons/sprite.svg#linkedin"></use></svg
          ></a>
          <a href="#">
            <svg class="icon icon--dark">
              <use href="icons/sprite.svg#instagram"></use></svg
          ></a>
          <a href="#">
            <svg class="icon icon--dark">
              <use href="icons/sprite.svg#facebook"></use></svg
          ></a>
        </div>
      </div>
    </div>
    <article class="text-block article-container">
      <h2 class="block__heading">Hello</h2>
      <p class="block__content">
        My name is Anas Chahid, I'm currently a student in National School of
        Applied Science, I've Created a bunch of projects using multiple languages
        and this portfolio is one of them. <br />
        I'm planning on doing more Projects in the future.
      </p>
      <p class="block__social">
        Github: @skillmaker-dev <br />
        Instagram: @iamanaschahid <br />
        LinkedIn: Anas Chahid
      </p>
      <div class="block__buttons">
        <a class="button button--primary" href="#">Button</a>
        <a class="button button--outline" href="#">Button</a>
      </div>
    </article>
    
  </section>