<section class="skills-block">
  <header>
    <h2 class="skills__heading">My Skills</h2>
  </header>
  <div class="skills-container">
    <div class="skill-card">
      <img class="skill__image" src="../images/code.jpg" alt="" />
      <div class="skill__description"><h3>HTML</h3></div>
    </div>
    <div class="skill-card">
      <img class="skill__image" src="../images/code.jpg" alt="" />
      <div class="skill__description"><h3>HTML</h3></div>
    </div>
    <div class="skill-card">
      <img class="skill__image" src="../images/code.jpg" alt="" />
      <div class="skill__description"><h3>HTML</h3></div>
    </div>
    <div class="skill-card">
      <img class="skill__image" src="../images/code.jpg" alt="" />
      <div class="skill__description"><h3>HTML</h3></div>
    </div>
    <div class="skill-card">
      <img class="skill__image" src="../images/code.jpg" alt="" />
      <div class="skill__description"><h3>HTML</h3></div>
    </div>
  </div>
</section>
