<article class="text-block article-container">
  <h2 class="block__heading">Hello</h2>
  <p class="block__content">
    My name is Anas Chahid, I'm currently a student in National School of
    Applied Science, I've Created a bunch of projects using multiple languages
    and this portfolio is one of them. <br />
    I'm planning on doing more Projects in the future.
  </p>
  <p class="block__social">
    Github: @skillmaker-dev <br />
    Instagram: @iamanaschahid <br />
    LinkedIn: Anas Chahid
  </p>
  <div class="block__buttons">
    <a class="button button--primary" href="#">Button</a>
    <a class="button button--outline" href="#">Button</a>
  </div>
</article>
